nav {
    padding: 10px 20px;
    background-color: #fff;
	display: flex;
	align-items: center;
}
nav #logo {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    padding-right: 10px;
	border-right: 1px solid #ddd;
	font-weight: 800;
}
nav .item {
	margin: 10px;
	cursor: pointer;
}
nav .item a:hover {
	color: #0069ff;
}
nav .item a {
	color: #000;
    text-decoration: none;
}
.item.active {
    border-bottom: 1px solid var(--blue-color);
}
.item.active a {
	color: var(--blue-color);
}
nav #right {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}
nav #right #userinfo {
	display: flex;
	align-items: center;
}
nav #right #userinfo #userpic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    background-image: url(avatar.jpg);
    margin: 0px 10px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}