:root {
	--blue-color: #448AFF;
	--lightblue-color: #BBDEFB;
	--darkblue-color: #1A237E; 
	--purpleblue-color: #7986CB;
	--turkblue-color: #80DEEA;
	--red-color: #FF5252;
	--green-color: #AED581;
	--yellow-color: #FFAB40;
	--stroke-width: 40px;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: 'Source Sans Pro', sans-serif;
}
div#content {
	display: flex;
	flex-wrap: wrap;
}
div.box_c {
	flex: 1 1 50%;
	display: flex;
	max-width: 100%;
}
div.box {
	margin: 20px;
	background-color: #fff;
	padding: 20px;
	flex: 1;
	overflow-x: auto;
}
div.box.flex {
	display: flex;
	flex-direction: column;
}
div.box_c_big {
	flex: 0 1 100%;
	max-width: 100%;
}
div.box_c_smal {
    flex: 1 1 33.33%;
	display: flex;
	max-width: 100%;
}
.bignumber {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 60px;
}
div.box div.title {
	margin-bottom: 20px;
	font-size: 20px;
	display: inline-block;
}
div.box div.filter {
	display: inline-block;
    float: right;
    background-color: #bfbfbf;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
}



table {
	width: 100%;
	border-collapse: collapse;
	border-color: #ddd;
}
table, table tr, table td, table th {
	border: 1px solid #ddd;
}
table td, th {
    padding: 5px;
}
table td.center {
	text-align: center;
}


div#content input#artikel_search {
	flex: 1 1 100%;
    margin: 20px;
    padding: 20px;
    margin-bottom: 0px;
    font-family: 'Source Sans', sans-serif;
    font-size: 16px;
}
/* ############ ARROW ############## */
.arrow.up {
	border-left-color: var(--green-color);
    transform: rotate(-45deg);
	top: -6px;
	display: block;
}
.arrow.up:before {
	background-color: var(--green-color);
}
.arrow.down {
	border-left-color: var(--red-color);
	transform: rotate(45deg);
	top: 6px;
}
.arrow.down::before {
	background-color: var(--red-color);
}
.arrow.right {
	border-left-color: var(--yellow-color);
}
.arrow.right:before {
	background-color: var(--yellow-color);
}
.arrow {
	display: block;
	margin: auto;
	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid purple;
    position: relative;
}
.arrow:before {
	position: absolute;
    content: "";
    height: 4px;
    width: 20px;
    background-color: green;
    left: -30px;
    top: -2px;
}

#performance {
	flex: 1;
	position: relative;
	text-align: center;
}
#performance label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 93px;
    font-size: 24px;
}
#performance img {
	max-width: 100%;
    max-height: 203px;
}
#gender {
	position: relative;
	width: calc(100% - 125px);
}
#gender .ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: calc(50% - 120px);
    transform: translateX(50%);
}
#alters .ct-legend.ct-legend-inside li {
	margin-bottom: 5px;
}
#alters {
	position: relative;
	width: calc(100% - 175px);
}
#alters .ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: calc(50% - 140px);
    transform: translateX(50%);
}
#gender .ct-legend.ct-legend-inside li {
	margin-bottom: 5px;
}
#wordcloud {
	text-align: center;
}
#wordcloud img {
    max-width: 100%;
    max-height: 193px;
}

.row {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.row:last-of-type {
	border-bottom: none;
}
.row label {
    width: 50%;
    text-align: center;
}
.bigcenter {
    text-align: center;
    font-size: 60px;
}
.smalcenter {
	text-align: center;
}






.ct-chart {
	position: relative;
}
.ct-legend {
	position: relative;
	z-index: 10;
	list-style: none;
	text-align: center;
}
.ct-legend li {
	position: relative;
	padding-left: 23px;
	margin-right: 10px;
	margin-bottom: 3px;
	cursor: pointer;
	display: inline-block;
}
.ct-legend li:before {
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	content: '';
	border: 3px solid transparent;
	border-radius: 2px;
}
.ct-legend li.inactive:before {
	background: transparent;
}
.ct-legend.ct-legend-inside {
	position: absolute;
	top: 0;
	right: 0;
}
.ct-legend.ct-legend-inside li{
	display: block;
	margin: 0;
}
.ct-legend .ct-series-0:before {
	background-color: #d70206;
	border-color: #d70206;
}
.ct-legend .ct-series-1:before {
	background-color: #f05b4f;
	border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
	background-color: #f4c63d;
	border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
	background-color: #d17905;
	border-color: #d17905;
}
.ct-legend .ct-series-4:before {
	background-color: #453d3f;
	border-color: #453d3f;
}

.ct-chart-line-multipleseries .ct-legend .ct-series-0:before {
   background-color: #d70206;
   border-color: #d70206;
}

.ct-chart-line-multipleseries .ct-legend .ct-series-1:before {
   background-color: #f4c63d;
   border-color: #f4c63d;
}

.ct-chart-line-multipleseries .ct-legend li.inactive:before {
   background: transparent;
 }
 #warengruppen .ct-series-a .ct-bar {
	stroke: var(--blue-color);
	stroke-width: var(--stroke-width);
}
#warengruppen .ct-series-b .ct-bar {
	stroke: var(--lightblue-color);
	stroke-width: var(--stroke-width);
}
#warengruppen .ct-legend .ct-series-0:before {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}
#warengruppen .ct-legend .ct-series-1:before {
    background-color: var(--lightblue-color);
    border-color: var(--lightblue-color);
}
#gender .ct-series-a .ct-slice-pie {
	fill: var(--lightblue-color);
}
#gender .ct-series-b .ct-slice-pie {
	fill: var(--blue-color);
}
#gender .ct-series-c .ct-slice-pie {
	fill: var(--purpleblue-color);
}
#gender .ct-legend .ct-series-0:before {
	background-color: var(--lightblue-color);
    border-color: var(--lightblue-color);
}
#gender .ct-legend .ct-series-1:before {
	background-color: var(--blue-color);
    border-color: var(--blue-color);
}
#gender .ct-legend .ct-series-2:before {
	background-color: var(--purpleblue-color);
    border-color: var(--purpleblue-color);
}


#sales .ct-series-a .ct-point {
    stroke: var(--blue-color);
}
#sales .ct-series-a .ct-line {
    stroke: var(--blue-color);
}
#sales .ct-series-b .ct-point {
    stroke: var(--lightblue-color);
}
#sales .ct-series-b .ct-line {
    stroke: var(--lightblue-color);
}
#sales .ct-legend .ct-series-0:before {
	background-color: var(--blue-color);
    border-color: var(--blue-color);
}
#sales .ct-legend .ct-series-1:before {
	background-color: var(--lightblue-color);
    border-color: var(--lightblue-color);
}
#sales .ct-series-c .ct-line {
    stroke: var(--darkblue-color);
}
#sales .ct-series-c .ct-point {
    stroke: var(--darkblue-color);
}
#sales .ct-legend .ct-series-2:before {
	background-color: var(--darkblue-color);
    border-color: var(--darkblue-color);
}
#sales .ct-series-d .ct-line {
    stroke: var(--purpleblue-color);
}
#sales .ct-series-d .ct-point {
    stroke: var(--purpleblue-color);
}
#sales .ct-legend .ct-series-3:before {
	background-color: var(--purpleblue-color);
    border-color: var(--purpleblue-color);
}

.ct-legend li.inactive:before {
	background: transparent !important;
}

#alters .ct-series-a .ct-slice-pie {
	fill: var(--blue-color);
}
#alters .ct-legend .ct-series-0:before {
	background-color: var(--blue-color);
    border-color: var(--blue-color);
}
#alters .ct-series-b .ct-slice-pie {
	fill: var(--lightblue-color);
}
#alters .ct-legend .ct-series-1:before {
	background-color: var(--lightblue-color);
    border-color: var(--lightblue-color);
}
#alters .ct-series-c .ct-slice-pie {
	fill: var(--darkblue-color);
}
#alters .ct-legend .ct-series-2:before {
	background-color: var(--darkblue-color);
    border-color: var(--darkblue-color);
}
#alters .ct-series-d .ct-slice-pie {
	fill: var(--purpleblue-color);
}
#alters .ct-legend .ct-series-3:before {
	background-color: var(--purpleblue-color);
    border-color: var(--purpleblue-color);
}
#alters .ct-series-e .ct-slice-pie {
	fill: var(--turkblue-color);
}
#alters .ct-legend .ct-series-4:before {
	background-color: var(--turkblue-color);
    border-color: var(--turkblue-color);
}

@media only screen and (max-width: 600px) {
	nav > .item {
		display: none;
	}
	nav #right {
		display: none !important;
	}
	nav .nav-open i {
		display: block;
	}
	#warengruppen .ct-series-a .ct-bar {
		stroke: var(--blue-color);
		stroke-width: 10px;
	}
	#warengruppen .ct-series-b .ct-bar {
		stroke: var(--lightblue-color);
		stroke-width: 10px;
	}
	#performance label {
		top: 55px;
	}
  }
.nav-open i {
	position: relative;
    display: none;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
	z-index: 99999;
	margin-right: 10px;
}
.nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}
.nav-open i:nth-child(3) {
    margin-top: 4px;
}
#hamburgermen {
	display: none;
}
#nav:checked ~ #hamburgermen {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    flex-direction: column;
	padding-top: 60px;
	z-index: 9999;
	padding-left: 15px;
}
#nav:checked + .nav-open {
    transition: transform 0.2s ease;
    transform: rotate(45deg);
    display: block;
    padding: 15px 10px 15px 0px;
    position: relative;
    z-index: 10000;
    cursor: pointer;
}
#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}